html {
    box-sizing: border-box;
    font-family: "ff-meta-serif-web-pro", serif!important;
    color: #414856;
    font-size: 16px;
}

@media (min-width: 6.25em) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 12.5em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 18.75em) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 25em) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 31.25em) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 37.5em) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 43.75em) {
    html {
        font-size: 23px;
    }
}

@media (min-width: 50em) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 56.25em) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 62.5em) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 68.75em) {
    html {
        font-size: 27px;
    }
}

@media (min-width: 75em) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 81.25em) {
    html {
        font-size: 29px;
    }
}

@media (min-width: 87.5em) {
    html {
        font-size: 30px;
    }
}

@media (min-width: 93.75em) {
    html {
        font-size: 31px;
    }
}

@media (min-width: 100em) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 106.25em) {
    html {
        font-size: 33px;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 34px;
    }
}

@media (min-width: 118.75em) {
    html {
        font-size: 35px;
    }
}

@media (min-width: 125em) {
    html {
        font-size: 36px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
}

/** * The fixed Side */
.side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 50px;
    border-right: 1px dashed rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .5);
    font-family: "nimbus-sans", sans-serif!important;
    text-transform: uppercase;
    letter-spacing: 0.0875rem;
    font-size: 10px;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side:hover {
    color: rgba(0, 0, 0, .5);
}

.side .side__inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
}

.side a {
    color: inherit;
    word-spacing: 0;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side .top,
.side .bottom {
    position: absolute;
    left: 0;
    transform: rotate(-90deg) perspective(1px);
    transform-origin: 50px 50px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    word-spacing: 0.5rem;
}

.side .top {
    margin-top: 40px;
    top: 25px;
    text-align: right;
    color: black;
}

.side .bottom {
    top: auto;
    bottom: 75px;
}

.side .bottom:hover a {
    color: rgba(0, 0, 0, .2);
}

.side .bottom:hover a:hover {
    color: rgba(0, 0, 0, .8);
}

/** * The first navigation */
.anchornav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.anchornav li {
    display: block;
}

.anchornav li::after {
    content: '';
    width: 1.3rem;
    display: block;
    height: 2px;
    background: #414856;
}

.anchornav li:last-child::after {
    display: none;
}

.anchornav a {
    display: block;
    padding: 1em 0;
    font-family: "nimbus-sans", sans-serif!important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: inherit;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a span {
    display: inline;
    padding: 0.5em 0 0;
    opacity: 0.3;
    letter-spacing: normal;
    font-family: "ff-meta-serif-web-pro", serif!important;
    text-transform: none;
}

.anchornav a:hover {
    color: #425066;
}

.anchornav a:hover span {
    opacity: 1;
    color: #414856;
}

/** * The different sections */
.section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-height: 60vh;
    width: 100%;
    align-content: center;
    padding: 20vh 50px 20vh 75px;
}

.section svg {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.section svg.bottom {
    bottom: 0;
    top: auto;
    fill: grey;
}

.section .section__inner {
    height: 100%;
    max-width: 800px;
    margin: auto auto auto 0;
}

.section.section--hello {
    background-color: #ffffff;
    color: #FF6F00;
}

.section.section--intro {
    background-color: white;
    color: #425066;
}

.section.section--about {
    background-color: #425066;
    color: white;
}

.section.section--about svg {
    fill: #425066;
}

.section.section--clients {
    background-color: #FF6F00;
    color: white;
}

.section.section--clients svg {
    fill: #FF6F00;
}

.section.section--portfolio {
    background-color: #425066;
    color: white;
}

.section.section--portfolio svg {
    top: -20px;
    fill: #425066;
}

.section.section--portfolio svg.bottom {
    top: auto;
    bottom: -50px;
}

.section.section--portfolio1 {
    background-color: #ffffff;
    color: #425066;
}

.section.section--portfolio1 svg {
    top: -50px;
    fill: #ffffff;
}

.section.section--pepperhill svg {
    top: -50px;
    fill: #ffffff;
}

.section.section--contact {
    background-color: #FF6F00;
    color: white;
}

.section.section--contact svg {
    fill: #FF6F00;
}

/** * Typo */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
    font-family: "nimbus-sans", sans-serif!important;
    font-weight: bold;
    margin: 0 0 1em;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 30rem) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h5 {
        letter-spacing: -2px;
    }
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
    color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
    border-bottom: 0.1875rem solid;
}

h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
    color: #FF6F00;
}

h1,
.h1 {
    font-size: 1.2rem;
}

@media (min-width: 30rem) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: 1.2rem;
}

@media (min-width: 30rem) {

    h2,
    .h2 {
        font-size: 2.5rem;
    }
}

.pre {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    opacity: 0.8;
    letter-spacing: 1.4px;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: inherit;
}

.pre span {
    font-size: 0.9em;
    margin-right: 0.4em;
    opacity: 0.5;
}

.pre:hover {
    opacity: 1;
}

p {
    font-size: 0.75rem;
    line-height: 1.4;
}

@media (min-width: 30rem) {
    p {
        font-size: 0.875rem;
    }
}

p a {
    font-weight: bold;
    color: inherit;
}

p a:hover {
    border-bottom: 0.1875rem dashed #FF6F00;
}

.lead {
    display: block;
    font-size: 0.875rem;
    margin: 0;
}

@media (min-width: 30rem) {
    .lead {
        font-size: 1rem;
    }
}

.portfolio {
    font-size: 0.75rem;
}

.portfolio.block {
    display: inline-block;
    width: 100%;
}

@media (min-width: 30rem) {
    .portfolio.block {
        width: 30%;
    }
}

.portfolio .link {
    display: block;
    margin: 2em 0 0 0;
    color: #414856;
    letter-spacing: 2px;
    font-size: 12px;
}

.portfolio p {
    font-size: inherit;
    color: #414856;
    opacity: 0.7;
}

form {
    min-width: 270px;
    width: 100%;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input,
textarea {
    border: none;
    padding: 15px !important;
    box-shadow: none;
    background-color: white;
    border-radius: 8px;
    color: #ff6f00;
    font-size: large;
    font-weight: bold;
    font-family: monospace;

}

.button {
    --light: #fff;
    --dark: #414856;
    --border: #fff;
    --background: #ff6f00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    padding: 0 20px;
    width: auto;
    height: 60px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: none;
    color: var(--dark);
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.1);
    transition: transform 0.1s linear, color 0.1s linear, background 0.15s linear;
    cursor: none;
}

.button>span {
    display: inline-block;
    position: relative;
    z-index: 2;
    font: 400 16px 'Varela Round', sans-serif;
    transition: transform 0.15s linear;
}

.button.fill {
    border: 0;
    color: var(--light);
    background: var(--background);
}

.cursor {
    --cursor: #c3c8de;
    position: fixed;
    top: -50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: solid 2px var(--cursor);
    pointer-events: none;
    transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}

[cursor="link"]:hover~.cursor {
    mix-blend-mode: difference;
    transform: scale(1.5);
    cursor: none;
    background: #fff;
    border-color: #fff;
}

.top-btn {
    background-color: transparent;
    border: #c3c8de 2px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s;
}

.top-btn,
a {
    text-decoration: none;
    color: #c3c8de;
}

.top-btn:hover {
    background-color: #FF6F00;
    border: white solid 3px;
    color: white;
}
.ani-img{
    width: 60%;
    position: absolute;
    right: 10px;
}
.resume-btn{
    position: absolute;
    right: 10%;
    bottom: 50%;
    padding: 20px;
    background-color: transparent;
    border: #FF6F00 dashed 5px;
    border-radius: 13px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    font-family:serif;
    transition: all 300ms;
}
.resume-btn:hover{
    scale: 1.1;
    background-color: white;
    color: #FF6F00;
    border: solid 5px;
}
.resume-btn:active {
    transform: scale(0.9);
    transition: transform 0.3s;
}

@media only screen and (max-width: 600px) {
    .top-btn {
        width: 80px;
        height: 80px;
        font-size: small;
        bottom: 20px;
        right: 20px;
    }
    form{
        min-width: 200px;
    }
    .ani-img{
        width: 80%;
        right: -100px;
        bottom: -7%;
        object-fit: contain;
    }
    .resume-btn{
        padding: 10px;
        font-size: large;
        bottom: 8%;
        z-index: 999;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .top-btn {
        width: 90px;
        height: 90px;
        font-size: medium;
        bottom: 50px;
        right: 50px;
    }
    .ani-img{
        width: 80%;
        right: -100px;
        bottom: -7%;
        object-fit: contain;
    }
    .resume-btn{
        padding: 15px;
        font-size: large;
        bottom: 8%;
        z-index: 999;
    }
}
